Example of reading the JSON file using Python.
Note that this exports only the images that have annotations.

In [7]:
import os
import sys
import pandas as pd
import json

In [10]:
# Get the path to the project folder
prj_path = os.getcwd()
prj_path = prj_path.split('annotation-scripts')[0] # split based on the folder name where this script is located
prj_path

'/home/vs66tavy/Nextcloud/paper_img_with_phones/github_repo/pollinator-image-annotation/'

In [9]:
# if needed, provide the absolute path to utils.py on your computer
# sys.path.append(os.path.join(prj_path, "annotation-scripts"))
from utils import via_json_to_df

In [12]:
json_file_path = os.path.join(prj_path, "data", "cache", "Centaurea-scabiosa-01-jc-vs.json")
df = via_json_to_df(json_file_path)

In [13]:
df.columns

Index(['path', 'region_id', 'name', 'x', 'y', 'width', 'height', 'order',
       'conf_order', 'family', 'conf_family', 'genus', 'conf_genus',
       'box_img_quality', 'notes', 'conf_species'],
      dtype='object')

In [17]:
df

,path,region_id,name,x,y,width,height,order,conf_order,family,conf_family,genus,conf_genus,box_img_quality,notes,conf_species
0,IMG_0376.JPG1106232,0,rect,1039,886,167,180,Coleoptera,high,Scarabaeidae,high,Cetonia,medium,low,someone with more Coleoptera experience may ge...,NaN
1,IMG_0377.JPG972076,0,rect,1046,864,150,210,Coleoptera,high,Scarabaeidae,high,Cetonia,medium,low,someone with more Coleoptera experience may ge...,NaN
2,IMG_0378.JPG1233573,0,rect,1048,894,141,176,Coleoptera,high,Scarabaeidae,high,Cetonia,medium,low,someone with more Coleoptera experience may ge...,NaN
3,IMG_0379.JPG1113632,0,rect,1045,890,139,183,Coleoptera,high,Scarabaeidae,high,Cetonia,medium,low,someone with more Coleoptera experience may ge...,NaN
4,IMG_0380.JPG862545,0,rect,1041,901,171,184,Coleoptera,high,Scarabaeidae,high,Cetonia,medium,low,"dark, unclear image. someone with more Coleopt...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,IMG_0707.JPG892656,1,rect,1081,676,239,323,Hymenoptera,low,NaN,NaN,NaN,NaN,low,"dark, unclear image",NaN
349,IMG_0708.JPG892756,0,rect,1048,919,153,179,Coleoptera,high,Scarabaeidae,high,Cetonia,medium,low,"dark, unclear image",NaN
350,IMG_0708.JPG892756,1,rect,991,694,350,277,Hymenoptera,low,NaN,NaN,NaN,NaN,low,"dark, unclear image",NaN
351,IMG_0709.JPG892520,0,rect,1048,911,162,197,Coleoptera,high,Scarabaeidae,high,Cetonia,medium,low,"dark, unclear image",NaN
352,IMG_0709.JPG892520,1,rect,1028,682,297,292,Hymenoptera,low,NaN,NaN,NaN,NaN,low,"dark, unclear image",NaN

In [18]:
# Save to CSV file
file_path = os.path.join(prj_path, "data", "cache", "Centaurea-scabiosa-01-jc-vs.csv")
df.to_csv(file_path, index=False)

In [19]:
# Save to Excel file
file_path = os.path.join(prj_path, "data", "cache", "Centaurea-scabiosa-01-jc-vs.xlsx")
df.to_excel(file_path, index=False)